<table class="gbtf-color-form__table">
  <thead>
    <tr>
      <th>{{tableName}}</th>
      <th>{{localize "GBT.Common.ColorHex"}}</th>
      <th>{{localize "GBT.Common.ColorPicker"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <td class="gbtf-color-form__label-cell">
        <label for="{{type}}-text">{{label}}</label>
      </td>
      <td class="gbtf-color-form__text-cell">
        <input id="{{type}}-text" type="text" name="{{type}}-text" value="{{value}}" placeholder="#RRGGBB" />
      </td>
      <td class="gbtf-color-form__picker-cell">
        <input id="{{type}}-color" type="color" name="{{type}}-color" value="{{value}}" />
      </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        {{{formActions}}}
      </td>
    </tr>
  </tfoot>
</table>
