<table class="gbtf-color-form__table">
  <thead>
    <tr>
      <th>{{tableName}}</th>
      <th>{{localize "GBT.Common.ColorHex"}}</th>
      <th>{{localize "GBT.Common.ColorPicker"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <td class="gbtf-color-form__label-cell">
        <label for="{{level}}-text">
          {{localize (concat "GBT.Ownership." level)}}
        </label>
      </td>
      <td class="gbtf-color-form__text-cell">
        <input id="{{level}}-text" type="text" name="{{level}}-text" value="{{value}}" placeholder="#RRGGBB" />
      </td>
      <td class="gbtf-color-form__picker-cell">
        <input id="{{level}}-color" type="color" name="{{level}}-color" value="{{value}}" />
      </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <div class="gbtf-color-form__actions">
          <button type="button" class="dialog-button" data-action="cancel">
            {{localize "GBT.Common.Cancel"}}
          </button>
          <button type="submit" class="dialog-button">
            {{localize "GBT.Common.Save"}}
          </button>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
